#
# ddns.org host ID
# - Set here or via command line
#

NOIP_HOST_ID=YOUR_HOST_ID

#
# Proxy Server
# - Required if deploying to github actions
# - Free webshare.io proxies won't work due to captcha rate limits
#

# PROXY_URL=http(s)://username:password@proxy.example.com:port/

#
# Headless Mode
# - Defaults to True
# - Disable if you want to watch puppetteer locally
#

# HEADLESS=False
